.member-selection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.no-member {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--element-color-primary-hover);
  font-size: larger;
  text-align: center;
}

.character-card-wrapper {
  position: relative;
}

.character-checkbox {
  display: none;
}

.character-card {
  position: relative;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  padding-inline: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  background-color: var(--element-color-primary);

  &:hover {
    border-color: var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
    background-color: var(--element-color-primary-hover);
  }

  .class-image {
    width: 30px;
    height: 30px;
  }

  .character-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding-inline: 1rem;

    .character-name {
      font-weight: bold;
    }
  }
}

.character-checkbox:checked+.character-card {
  border-color: var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
  background-color: var(--element-color-primary-hover);

  &:hover {
    background-color: var(--element-color-primary);
  }
}

.loader {
  text-align: center;
  padding: 2rem;
}
